@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
body{
	background-color: #1f204c;
}
input{
	color: #CCC;
	background-color: #424392;
	border: 3px solid #424392;
	border-bottom: 3px solid #313378;
	border-radius: 4px;
	font-family: Ubuntu;
	font-size: 24px;
	height:40px;
	margin-bottom: 6px;
	margin: 2px;
	padding: 2px;
	text-align: center; 
	width:40px;
}

.sudoku{
	margin-top: 30px;
}

.b1, .b3, .b5, .b7, .b9{
	border: 3px solid #2d2e68;
	border-bottom: 3px solid #26285d;
	background-color: #2d2e68;
}

.b2, .b4, .b6, .b8{
	/*border-color: #62d2a2;*/
}

.err{
	border: 3px solid #f25467;
	border-bottom: 3px solid #c94253;
	background-color: #f25467;
}

.btn{
	border: 3px solid #a57675;
	border-bottom: 3px solid #8a5e68;
	background-color: #a57675;
	padding: 6px 8px;
	border-radius: 4px;
	color: #CCC;
	margin: 0px 2px;
}

.btn:hover{
	cursor: pointer;
}

.main-header{
	margin-top: 30px;
	font-size: 3em;
	font-family: 'Quicksand', sans-serif;
	color: #EEE;
}


@media only screen and (max-width: 600px) {
	input {
		width: 20px;
		height:20px;
		margin: 1px; 
	}
	.main-header {
	font-size: 2em;
	}
}