@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

input{
	height:30px;
	width:30px;
	padding: 2px;
	margin: 2px;
	margin-bottom: 6px;
	border:1px solid #fff;
	font-family: Ubuntu;
	font-size: 24px;
	text-align: center; 
}

.sudoku{
	margin-top: 30px;
}

.b1, .b3, .b5, .b7, .b9{
	border-color: #9a9b94;
}

.b2, .b4, .b6, .b8{
	border-color: #62d2a2;
}

.main-header{
	margin-top: 30px;
	font-size: 3em;
	font-family: 'Roboto Slab', serif;
	color: #555;
}